.lightbox-gallery {
    width: 100%;
    height: calc(100% - 62px);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    border-radius: 10px;
    padding: 4px 8px 30px;
}

.lightbox-gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 22px;
    border-radius: 8px;
    object-fit: contain;
    scroll-snap-align: start;
}
